*{
    margin: 0%;
    padding: 0%;
    font-family: "Noto Serif Todhri", serif;
}
.h1{
    margin-bottom: 28px;
}
#restartBtn{
    margin-top: 38px;
    padding:10px;
}
.choose{
    /* margin: 20px 20px; */
}
.player{
     margin-bottom: 18px;
} 